!!! Strict
%html
  %head
    %title Example
    = include_stylesheets :common
    = include_javascripts :common, :application
    = csrf_meta_tag

  %body
    = render :partial => "/layouts/header"
    
    = render :partial => "/layouts/flash"
    
    #main
      .container
        = yield
      
    #footer
      .container
        footer